node-red.json
[{"id":"897f1d9f.06b48","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"f12bcbd3.942378","type":"firebase modify","z":"897f1d9f.06b48","name":"fome_db","firebaseconfig":"","childpath":"/unigotchi/fome","method":"set","value":"msg.payload","priority":"msg.priority","x":500,"y":260,"wires":[["990ab88.132f948"]]},{"id":"99a1428e.46bd7","type":"http in","z":"897f1d9f.06b48","name":"","url":"/fome","method":"post","upload":false,"swaggerDoc":"","x":110,"y":260,"wires":[["4f0296c6.4ac4d8"]]},{"id":"8bc6da3b.72ff18","type":"http in","z":"897f1d9f.06b48","name":"","url":"/status","method":"get","upload":false,"swaggerDoc":"","x":110,"y":60,"wires":[["59ec825.d66107c"]]},{"id":"59ec825.d66107c","type":"firebase.once","z":"897f1d9f.06b48","name":"Status","firebaseconfig":"","childpath":"/unigotchi","repeatifnull":false,"eventType":"value","queries":[],"x":290,"y":60,"wires":[["de0a814a.070ae"]]},{"id":"c120f6bb.e120c8","type":"http in","z":"897f1d9f.06b48","name":"","url":"/sono","method":"post","upload":false,"swaggerDoc":"","x":110,"y":420,"wires":[["6bb9ab22.c36664"]]},{"id":"5bd52ca5.5d3b94","type":"firebase modify","z":"897f1d9f.06b48","name":"sono_db","firebaseconfig":"","childpath":"/unigotchi/sono","method":"set","value":"msg.payload","priority":"msg.priority","x":500,"y":420,"wires":[["990ab88.132f948"]]},{"id":"6bb9ab22.c36664","type":"change","z":"897f1d9f.06b48","name":"","rules":[{"t":"set","p":"query","pt":"msg","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":300,"y":420,"wires":[["5bd52ca5.5d3b94"]]},{"id":"4f0296c6.4ac4d8","type":"change","z":"897f1d9f.06b48","name":"","rules":[{"t":"set","p":"query","pt":"msg","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":300,"y":260,"wires":[["f12bcbd3.942378"]]},{"id":"102391de.85662e","type":"http in","z":"897f1d9f.06b48","name":"","url":"/diversao","method":"post","upload":false,"swaggerDoc":"","x":120,"y":340,"wires":[["a7add560.70f048"]]},{"id":"15e2f9ab.1598a6","type":"firebase modify","z":"897f1d9f.06b48","name":"diversao_db","firebaseconfig":"","childpath":"/unigotchi/diversao","method":"set","value":"msg.payload","priority":"msg.priority","x":510,"y":340,"wires":[["990ab88.132f948"]]},{"id":"a7add560.70f048","type":"change","z":"897f1d9f.06b48","name":"","rules":[{"t":"set","p":"query","pt":"msg","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":300,"y":340,"wires":[["15e2f9ab.1598a6"]]},{"id":"f277329.7eca2d","type":"http in","z":"897f1d9f.06b48","name":"","url":"/vida","method":"post","upload":false,"swaggerDoc":"","x":100,"y":500,"wires":[["b5e4e63c.ad0948"]]},{"id":"75df45b6.016c9c","type":"firebase modify","z":"897f1d9f.06b48","name":"vida_db","firebaseconfig":"","childpath":"/unigotchi/vida","method":"set","value":"msg.payload","priority":"msg.priority","x":500,"y":500,"wires":[["990ab88.132f948"]]},{"id":"de0a814a.070ae","type":"http response","z":"897f1d9f.06b48","name":"","statusCode":"","headers":{},"x":810,"y":120,"wires":[]},{"id":"b5e4e63c.ad0948","type":"change","z":"897f1d9f.06b48","name":"","rules":[{"t":"set","p":"query","pt":"msg","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":300,"y":500,"wires":[["75df45b6.016c9c"]]},{"id":"d99bcc95.dc056","type":"cron","z":"897f1d9f.06b48","name":"CRON DIVERSÃO","crontab":"*/2 * * * *","x":130,"y":700,"wires":[["146b16e7.dbc4c9"]]},{"id":"f27836ff.7e70b8","type":"cron","z":"897f1d9f.06b48","name":"CRON FOME","crontab":"*/1 * * * *","x":110,"y":620,"wires":[["fe4bb0e2.e6c9d"]]},{"id":"a599e7ad.c3c8b8","type":"cron","z":"897f1d9f.06b48","name":"CRON SONO","crontab":"*/3 * * * *","x":110,"y":780,"wires":[["d0d54f8e.4910d"]]},{"id":"31757101.22884e","type":"debug","z":"897f1d9f.06b48","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":1070,"y":220,"wires":[]},{"id":"fe4bb0e2.e6c9d","type":"firebase.once","z":"897f1d9f.06b48","name":"Fome","firebaseconfig":"","childpath":"/unigotchi/fome/value","repeatifnull":false,"eventType":"value","queries":[],"x":350,"y":620,"wires":[["d90809e6.9d02a8"]]},{"id":"146b16e7.dbc4c9","type":"firebase.once","z":"897f1d9f.06b48","name":"Diversão","firebaseconfig":"","childpath":"/unigotchi/diversao/value","repeatifnull":false,"eventType":"value","queries":[],"x":360,"y":700,"wires":[["6cefc081.e64dd"]]},{"id":"d0d54f8e.4910d","type":"firebase.once","z":"897f1d9f.06b48","name":"Sono","firebaseconfig":"","childpath":"/unigotchi/sono/value","repeatifnull":false,"eventType":"value","queries":[],"x":350,"y":780,"wires":[["7364e822.edf998"]]},{"id":"6b7da917.d13428","type":"firebase modify","z":"897f1d9f.06b48","name":"[Fome] -1","firebaseconfig":"","childpath":"/unigotchi/fome/value","method":"set","value":"msg.payload","priority":"msg.priority","x":720,"y":620,"wires":[["990ab88.132f948","31757101.22884e"]]},{"id":"4077ba0a.44aa24","type":"firebase modify","z":"897f1d9f.06b48","name":"[ Diversão ] -1","firebaseconfig":"","childpath":"/unigotchi/diversao/value","method":"set","value":"msg.payload","priority":"msg.priority","x":740,"y":700,"wires":[["990ab88.132f948","31757101.22884e"]]},{"id":"4e9fead5.79a654","type":"firebase modify","z":"897f1d9f.06b48","name":"[ Sono] -1","firebaseconfig":"","childpath":"/unigotchi/sono/value","method":"set","value":"msg.payload","priority":"msg.priority","x":720,"y":780,"wires":[["990ab88.132f948","31757101.22884e"]]},{"id":"d90809e6.9d02a8","type":"function","z":"897f1d9f.06b48","name":"Dec - 1","func":"if(msg.payload > 0) {\n    msg.payload -= 1;\n}\nreturn msg;","outputs":1,"noerr":0,"x":540,"y":620,"wires":[["6b7da917.d13428"]]},{"id":"6cefc081.e64dd","type":"function","z":"897f1d9f.06b48","name":"Dec - 1","func":"if(msg.payload > 0) {\n    msg.payload -= 1;\n}\nreturn msg;","outputs":1,"noerr":0,"x":540,"y":700,"wires":[["4077ba0a.44aa24"]]},{"id":"7364e822.edf998","type":"function","z":"897f1d9f.06b48","name":"Dec - 1","func":"if(msg.payload > 0) {\n    msg.payload -= 1;\n}\nreturn msg;","outputs":1,"noerr":0,"x":540,"y":780,"wires":[["4e9fead5.79a654"]]},{"id":"990ab88.132f948","type":"firebase.once","z":"897f1d9f.06b48","name":"Unigotchi","firebaseconfig":"","childpath":"/unigotchi","repeatifnull":false,"eventType":"value","queries":[],"x":980,"y":780,"wires":[["f86eeb33.b3f088"]]},{"id":"f86eeb33.b3f088","type":"function","z":"897f1d9f.06b48","name":"Média vida","func":"msg.payload =  Math.round((msg.payload.fome.value + msg.payload.diversao.value + msg.payload.sono.value) / 3);\nreturn msg;","outputs":1,"noerr":0,"x":1130,"y":780,"wires":[["f3ba2a98.009928"]]},{"id":"f3ba2a98.009928","type":"firebase modify","z":"897f1d9f.06b48","name":"setVida","firebaseconfig":"","childpath":"/unigotchi/vida/value","method":"set","value":"msg.payload","priority":"msg.priority","x":1280,"y":780,"wires":[["de0a814a.070ae","31757101.22884e"]]},{"id":"91b52e00.7749d","type":"http in","z":"897f1d9f.06b48","name":"","url":"/reset","method":"get","upload":false,"swaggerDoc":"","x":100,"y":140,"wires":[["db1d99ed.c53f18"]]},{"id":"d0347884.e522e8","type":"firebase modify","z":"897f1d9f.06b48","name":"Reset Base","firebaseconfig":"","childpath":"/unigotchi","method":"set","value":"msg.payload","priority":"msg.priority","x":510,"y":140,"wires":[["de0a814a.070ae"]]},{"id":"db1d99ed.c53f18","type":"function","z":"897f1d9f.06b48","name":"Base","func":"msg.payload = {\n    \"diversao\" : {\n      \"value\" : 5\n    },\n    \"fome\" : {\n      \"value\" : 5\n    },\n    \"sono\" : {\n      \"value\" : 5\n    },\n    \"vida\" : {\n      \"value\" : 5\n    }\n}\nreturn msg;","outputs":1,"noerr":0,"x":290,"y":140,"wires":[["d0347884.e522e8"]]}]